font,th,td,p 				{ 	font-family: Arial, Helvetica, sans-serif }
a:link,a:active,a:visited 	{ 	color : #FFFFFF; }
a:hover					{ 	text-decoration: underline; color : #DD6900; }
hr						{ 	height: 1px; border: solid #222260 1px; border-top-width: 0px;}

td.bar { background-color : #1B1C55; 
		color : #FFFFFF;
		background-image: url(buttonbar.jpg);
		height : 20px; }

select { background-color : #8C8CE4; 
		text-indent : 2px;
		color : #000000;
		border-color : #1C1C64;
		border-width : 2; }
		
input { background-color : #8C8CE4; 
		text-indent : 2px;
		color : #000000;
		border-color : #1C1C64;
		border-width : 2; }
		
.huge { font-family: arial, helvetica, sans-serif;
	     font-size: 12px;
	     color: #ffffff; }
a.huge { font-family: arial, helvetica, sans-serif;
	     font-size: 12px;
	     text-decoration: none;
	     color: #FFFF66; }
a.huge:hover { font-family: arial, helvetica, sans-serif;
	     font-size: 12px;
	     text-decoration: none;
	     color: #FFFFCC; }

.large { font-family: arial, helvetica, sans-serif;
	     font-size: 11px;
	     color: #ffffff; }
a.large { font-family: arial, helvetica, sans-serif;
	     font-size: 11px;
	     text-decoration: none;
	     color: #FFFF66; }
a.large:hover { font-family: arial, helvetica, sans-serif;
	     font-size: 11px;
	     text-decoration: none;
	     color: #FFFFCC; }

.med { font-family: arial, helvetica, sans-serif;
	     font-size: 10px;
	     color: #ffffff; }
a.med { font-family: arial, helvetica, sans-serif;
	     font-size: 10px;
	     text-decoration: none;
	     color: #FFFF66; }
a.med:hover { font-family: arial, helvetica, sans-serif;
	     font-size: 10px;
	     text-decoration: none;
	     color: #FFFFCC; }
	
.yellowmed { font-family: arial, helvetica, sans-serif;
	     font-size: 11px;
	     font-weight: bold;
	     color: #FFFF66; }

.small { font-family: arial, helvetica, sans-serif;
	     font-size: 9px;
	     color: #ffffff; }
a.small { font-family: arial, helvetica, sans-serif;
	     font-size: 9px;
	     text-decoration: none;
	     color: #FFFF66; }
a.small:hover { font-family: arial, helvetica, sans-serif;
	     font-size: 9px;
	     text-decoration: none;
	     color: #FFFFCC; }

.logtitle { font-family: arial, helvetica, sans-serif;
	     font-size: 11px;
	     color: #3C3C9C;
	     font-weight: bold; }